# Wireguard initramfs configuration.
#
# NOTE: As most systems do not encrypt /boot, private key material is exposed
#       and compromised/untrusted. Boot wireguard network should be
#       **different** & untrusted; versus the network used after booting.
#       Always restrict ports and access on the wireguard server.
#
# Be sure to test wireguard config with a running system before setting
# options. See: https://manpages.debian.org/unstable/wireguard-tools/wg.8.en.html
#
# Restricting dropbear connections to **only** wireguard:
# * Confirm wireguard/dropbear work without restriction first.
# * Set dropbear listen address to only wireguard client interface address.
#
#   /etc/dropbear-initramfs/config
#     DROPBEAR_OPTIONS='... -p 172.31.255.10:22 ...'
#

# Wireguard interface name.
INTERFACE=migration

# CIDR wireguard interface address.
INTERFACE_ADDR=172.31.255.10/32

# Peer public key (server's public key).
PEER_PUBLIC_KEY=gyW39I9bAiOBXyhL8LWw9qwiTZgMmtAbsWtLUv8uKTc=

# Pre shared key (optional: leave blank to disable).
PRE_SHARED_KEY=/etc/wireguard-initramfs/pre_shared_key

# IP:PORT of the peer (server); any reachable IP/DNS.
PEER_ENDPOINT={SERVER INTERFACE IP}:51820

# Client Private key. Specify location of file containing only the private key.
CLIENT_PRIVATE_KEYFILE=/etc/wireguard-initramfs/private_key

# Persistent Keepalive. Required to ensure connection for non-exposed ports.
PERSISTENT_KEEPALIVES=25

# Allowed IP's (CIDR) on wireguard; for boot this should be the peer (server).
ALLOWED_IPS=172.31.255.254/32